<p><button class="buttons optionButton" type="button" [hidden]="buttonDisplay">Save</button></p>
<p><button class="buttons optionButton" type="button" [hidden]="buttonDisplay">Save As</button></p>
<p><button class="buttons optionButton" type="button" [hidden]="buttonDisplay">Edit</button></p>
<p><button class="buttons optionButton" type="button" [hidden]="buttonDisplay">Share</button></p>
<p><button class="buttons optionButton" type="button" [hidden]="buttonDisplay">Trans</button></p>
<p><button class="buttons optionButton" type="button" [hidden]="buttonDisplay">Remove</button></p>
<p><button class="buttons" id="mainButton" type="button" (click)="hideButtons()">SM</button></p>
