#mainDiv{
  border: 2px solid #007bff;
  width: 200px;
  height: 180px;
  border-radius: 5%;
  padding: 10px;
  text-align: center;
  background-color: white;
}

fa-icon{
  color: #007bff;
  font-size: 40px;
  margin: 5px;
}

#tonePresent{
  color: #007bff;
  font-size: 50px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

#toneScale{
  margin: 0;
  padding: 0;
}

#buttons
{
  margin: 0;
  padding: 0;
}
