<div class="container-fluid">
<div class="row">
    <div class="col-sm-3 col-md-6 col-lg-3 mainAppPart">
            <div id="listsContainer">
                    <app-song-list title = "My Songs" (songsChoosedEvent)="songsChoosed($event)"></app-song-list>
                    <app-song-list title = "Shared Songs" (songsChoosedEvent)="songsChoosed($event)"></app-song-list>
                </div>
    </div>
    <div class="col-sm-9 col-md-6 col-lg-9 mainAppPart">
            <app-song-editor #child></app-song-editor>
    </div>
</div>
</div>
