body{
  position: relative;
}

.editorPart{
    border: 2px solid #dfdfdf;
    padding-left: 10px;

}

#songTitle{
    height: 10vh;
}

#songText{
    width: 100%;
    height: 70vh;
}

#songComments{
    height: 20vh;
}

app-main-button{
  position: absolute;
  bottom: 220px;
  right: 20px;
}

app-transpose{
  position: absolute;
  top: 120px;
  right: 20px;
}
